h1 {
    color: blue;
}

header {
    background-color: gray;
}

p {
    font-size: 16px;
    font-weight: bold;
}

.btn {
    padding: 10px;
}

.container {
    width: 80%;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
    gap: 20px;
}

.main-content {
    grid-row: 1 / 3;
}